
.DS_Store
eternityII.xcodeproj/project.xcworkspace/xcuserdata/xaviergriffon.xcuserdatad/UserInterfaceState.xcuserstate
eternityII
*.back
*.log
tests/run_tests
tests/run_tests.dSYM/
tests/coverage/
*.gcov
*.gcno
*.gcda

coverage-summary.md
